
    <link rel="stylesheet" href="/css/homepage.css">

 
<header>
  <nav id="navbar" class="relative w-full flex flex-wrap items-center justify-center py-3 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg">
    <div class="container-fluid w-full flex flex-wrap items-center justify-center px-6">
      <div class="container-fluid">
        <h1 class="logo"> <a class="has-text-black px-3 py-3 has-text-weight-bold fa-2xl"><i class="fa-solid fa-gamepad"></i> </a> </h1>
        <a class="text-xl text-black font-semibold px-20" href="/">SideQuest</a>

      </div>
       <a class="text-xl text-black font-semibold px-200" href="/dashboard">Dashboard</a>
      {{#unless loggedIn}}
      <p class="login-signup"><a href="/login">login</a>/<a href="/signup">signup</a></p>
      {{/unless}}
  
      {{#if loggedIn}}
    <a class="login-signup" id="logout" href="#">Log Out</a>
      {{/if}}
    </div>
  </nav>

{{!-- <div class="post card">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form id="new-post-form" class="card-body">
    <label class="form-label" for="post-title">Title</label>
    <input type="text" name="post-title" class="form-input" />
    <label class="form-label" for="post-platform">Platform</label>
    <input type="text" name="post-platform" class="form-input" />
    <label class="form-label" for="post-genre">Genre</label>
    <input type="text" name="post-genre" class="form-input" />
    <label class="form-label" for="post-body">Review</label>
    <textarea name="post-review" class="form-input"></textarea>

    <button id="new-post-form" type="submit" class="btn">Create</button>
  </form>
</div> --}}

<div class="container mx-auto flex flex-col justify-center py-20">
  <div id="createpost" class="block p-6 rounded-lg shadow-lg">
    <form id="new-post-form">
      <div class="form-group mb-6">
        <input name="post-title" type="text"
          class="form-control block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput7"
          placeholder="Game Title">
      </div>
      <div class="form-group mb-6">
        <input name="post-platform" type="text"
          class="form-control block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput8"
          placeholder="Platform">
      </div>
      <div class="form-group mb-6">
        <input name="post-genre" type="text"
          class="form-control block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput8"
          placeholder="Genre">
      </div>
      <div class="form-group mb-6">
        <textarea name="post-review" class="
                form-control
                block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
              " id="exampleFormControlTextarea13" rows="3"
          placeholder="What are your thoughts?"></textarea>
      </div>
      <button id="postbutton" type="submit" class="
              w-full
              px-6
              py-2.5
              bg-blue-600
              text-white
              font-medium
              text-xs
              leading-tight
              uppercase
              rounded
              shadow-md
              hover:bg-blue-700 hover:shadow-lg
              focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
              active:bg-blue-800 active:shadow-lg
              transition
              duration-150
              ease-in-out">post</button>
    </form>
  </div>
</div>

<script src="/js/new.js"></script>