    <main>
        <h1 class="logo"> <a href="/" class="has-text-black px-3 py-3 has-text-weight-bold fa-2xl"><i class="fa-solid fa-gamepad"></i> </a> </h1>
    <div id="background" class="flex flex-col justify-center min-h-screen py-12 bg-gray-50 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
          <h2 id="signin" class="mt-6 text-3xl font-extrabold text-center text-gray-900 leading-9">
            Create Your Side Quest Account
          </h2>
        </div>
      
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
          <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
            <form id="login-form" >
              <div>
                <label for="email" class="block text-sm font-medium text-gray-700 leading-5">
                  Email address
                </label>
      
                <div class="mt-1 rounded-md shadow-sm">
                  <input id="email-input-signup" name="email" type="email" required="" autofocus="" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5 ">
                </div>
      
              </div>

              <div class="mt-6">
                <label for="username" class="block text-sm font-medium text-gray-700 leading-5">
                  Username
                </label>
      
                <div class="mt-1 rounded-md shadow-sm">
                  <input id="username-input-signup" type="username" required="" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5 ">
                </div>
      
              <div class="mt-6">
                <label for="password" class="block text-sm font-medium text-gray-700 leading-5">
                  Password
                </label>
      
                <div class="mt-1 rounded-md shadow-sm">
                  <input id="password-input-signup" type="password" required="" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5 ">
                </div>
      
              </div>
      
              <div class="mt-6">
                <span class="block w-full rounded-md shadow-sm">
                  <button type="submit" class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                    Signup!
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
          <h2 id="signin" class="mt-6 text-3xl font-extrabold text-center text-gray-900 leading-9">
            Already created an account?
          </h2>
          <p class="mt-2 text-sm text-center text-gray-600 leading-5 max-w">
            <a href="/login" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
              Login Here!
            </a>
          </p>
      </div>
      
    </main>
       
      </nav>

  <script src="/js/signup.js"></script>
  <link rel="stylesheet" href="../css/login.css">