  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/homepage.css"> 
{{> header }}

<div class="container mx-auto px-20">
<div class="flex justify-center">
<div class="w-72 bg-white rounded-lg shadow-md p-6" style="cursor: auto;">
  <div class="w-16 mx-auto relative -mt-10 mb-3">
    <img class="-mt-1" src="https://static.vecteezy.com/system/resources/previews/002/522/478/original/modern-flat-design-of-gamepad-or-joystick-icon-for-web-vector.jpg" alt="gamepad icon">
  </div>
  <span class="flex justify-center w-full sm:w-48 pl-12 block leading-tight font-medium text-gray-800 text-md mb-3">{{game.title}}</span>
  <span class="flex justify-center w-full sm:w-48 pl-12 block leading-tight font-medium text-gray-800 text-md mb-3">{{game.platform}}</span>
  <span class="flex justify-center w-full sm:w-48 pl-12 block leading-tight font-medium text-gray-800 text-md mb-3">{{game.genre}}</span>
  {{#if loggedIn}}
     <button type="delete" id="delete" class="px-6 py-2.5 w-full bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">delete</button>
  {{/if}}
    </div>
</div>
</div>

    {{> comments }}
    
    <script src="/js/comment.js"></script>


  