#navbar{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #4AEA7A;
}

main{
    background-color: black;
    padding-bottom: 5%;
}

#createpost{
    background-color: #324657;
}

#postbutton, #morebutton{
    background-color: #4AEA7A;
}

#posts{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #8CB1B3;
    padding-left: 80px;
    padding-right: 80px;
}

#posts h5{
    font-size: 32px;
}
#posts p{
    font-size: 20px;
}

.login-signup{
    color: white;
    padding-left: 150px;
    justify-content: end;
}