#background {
	background: url("https://source.unsplash.com/collection/9251042/1600x900") no-repeat center center fixed;
	background-size: cover;
}

#signin {
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

#create {
	font-size: 18px;
	font-weight: 800;
	color: #4AEA7A;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

#button {
	background-color: #4AEA7A;
}